<?xml version="1.0" encoding="UTF-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="800.000"
  height="600.000"
  viewBox="0.0 0.0 800.000 600.000"
  version="1.1"
>
  <title>Produce by Acme CAD Converter</title>
  <desc>Produce by Acme CAD Converter</desc>
  <polyline
    points="260,183.62 800,183.62"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="319.12,183.62 319.12,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="307.65,202.42 330.38,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="389.27,183.62 389.27,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="377.8,202.42 400.53,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="467.73,183.62 467.73,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="456.26,202.42 478.99,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="577.32,183.62 577.32,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="565.85,202.42 588.58,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="656.87,183.62 656.87,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="645.39,202.42 668.12,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="755.33,183.62 755.33,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="743.85,202.42 766.58,202.42"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="310.48,315.51 349.87,315.51 349.87,276.12 310.48,276.12 310.48,315.51"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="423.69,315.51 463.08,315.51 463.08,276.12 423.69,276.12 423.69,315.51"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
  <polyline
    points="596.44,315.51 635.82,315.51 635.82,276.12 596.44,276.12 596.44,315.51"
    style="fill: none; stroke: black; stroke-width: 0.5;"
  />
</svg>
